*{
  font-family: sans-serif;
  box-sizing:border-box;
  padding: 0;
  margin:0;
}

body{
  width: 90%;
  margin: auto;
}

.todo{
  height: 800px;
  box-shadow: 0 0 10px 5px grey inset;
  background: white;
}


.computadora{
  font-size: 30px;
  padding: 300px;
  text-align: center;
}

header {
  display: none;
  background: #000;
  display: flex;
  height: 64px;
  color: #FFF;
}

.barrasuperior img{
  width:100%;
}

.BarraSuperior{
  display: none;
  overflow:hidden;
  margin:auto;
	width:100%;
}

.BarraSuperior ul{
  box-shadow: 0 0 10px 1px grey inset;
  animation: cambio 15s infinite alternate linear;
  list-style:none;
	display:flex;
  width:400%; height: 355px;
}

.BarraSuperior li{
	width:100%;
}

.BarraSuperior img{
	width:100%; height: 350px;
}

@keyframes cambio{
	0%{margin-left:0;    }
	20% {margin-left:0;  }
	25% {margin-left: -100%;  }
	45% {margin-left: -100%;  }
	50% {margin-left: -200%;  }
	70% {margin-left: -200%;  }
	75% {margin-left: -300%;  }
	100% {margin-left: -300%; }
  }


#btn-menu {
  display: none;
}

header label {
  cursor: pointer;
  display: none;
}

.menu{
  display: none;
  width: 100%;
}

.menu ul {
  box-shadow: 0 0 10px 1px grey inset;
  background: #000;
  list-style:none;
  display: flex;
}

.menu a {
  font-size: 20px;
  text-decoration: none;
  padding: 15px 20px;
  line-height: 32px;
  font-weight:700;
  display:block;
  color: #FFF;
}

.menu i {
  padding-right: 20px;
  font-size: 30px;
}

.menu a:hover {
  background: #00aae7;
}

.marcas{
  display: none;
  margin: auto;
  width: 50%;
}

.Promo{
  display: none;
	width:80%;
	color:black;
	margin:auto;
	box-sizing:border-box;
}

.Promo p {
	color:black;
  padding: 100px;
	font-size:20px;

}


#img2{
  display: none;
  border-radius: 20px;
  margin: 40px;
}


  .marcas img{
    width: 100%;
}

.LinkRedes{
    display: none;
    margin:30px;
}

.LinkRedes .lightbox img {
    width: 5%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	  margin-right:20px;
	  min-width:40px;
}

.LinkRedes .lightbox img:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 50px rgba(0,0,0,0.3);
}

.LinkRedes img {
    border-radius: 70px;
}

  .finaltodo{
    display: none;
  color: white;
  background: black;
  padding: 10px;
  box-shadow: 0 0 10px 1px grey inset;
}

    .finaltodo p {
    text-align: center;
    font-size: 15px;
}


@media  (max-width: 968px ){
    body{
    box-shadow: 0 0 10px 1px white inset;
    width: 100%;
    height: 100%;
    background: white;
}

.computadora{
  display: none;
}

    .todo{
    width: 100%;
    height: 100%;
    background:none;
}

    .logo{
    width: 25%;
    padding-bottom: 15px;
    display: flex;
    float: left;
}
    header label {
    display: block;
    box-shadow: 0 0 10px 1px grey inset;
    background: #00aae7;
    transition: all 0.4s ease;
    padding-top: 16px;
    display: flex;
    padding-right: 10px;
    font-size: 40px;
    justify-content: space-between;
}

  .titulo{
    display:block;
    font-family: Uroob;
    font-size: 20px;
    margin-right: 15px;
    display: block;
    margin-top: 9px;
    float: right;
}

  .menu {
    display: block;
    transform: translateX(-100%);
    transition: all 0.3s;
    position: absolute;
    width: 50%;
    top: 64px;
    left: 0;
}

    .menu ul {
    box-shadow: 0 0 10px 1px grey inset;
    background: #00aae7;
    flex-direction: column;
    display: block;
}

  .menu ul li:hover ul {
    position: static;
    display: none;
}

  .menu a i {
    position: absolute;
    line-height:32px;
    font-size:20px;
    right: 16px;
}
  .menu a {
    font-size:17px;
}

  #btn-menu:checked ~ .menu {
    transform: translateX(0%);
}

.barrasuperior img{
  width:100%;
}

.BarraSuperior{
  display: block;
  border-radius:10px;
  overflow:hidden;
  margin-top: 10px;
	width:90%;
  height: 120px;
}

.BarraSuperior ul{
  animation: cambio 15s infinite alternate linear;
  list-style:none;
	display:flex;
  width:400%;
	padding:0;
}

.BarraSuperior li{
	width:100%;
}

.BarraSuperior img{
	width:100%; height: 120px;
}

@keyframes cambio{
	0%{margin-left:0;    }
	20% {margin-left:0;  }

	25% {margin-left: -100%;  }
	45% {margin-left: -100%;  }

	50% {margin-left: -200%;  }
	70% {margin-left: -200%;  }

	75% {margin-left: -300%;  }
	100% {margin-left: -300%; }
  }

.Promo{
  display: block;
	width:80%;
	margin:auto;
}

.Promo p {
  font-size:12px;
  width: 100%;
  padding:0;
}

.Promo h1{
  text-align: center;
  font-size:15px;
  padding: 20px;
}

#img2{
  display: block;
  width: 90%; height:150px;
  border-radius: 10px;
  margin: 20px;
}


  .marcas img{
    width: 100%;
}

    .LinkRedes{
      display: block;
      margin-top: 50px;
}

    .LinkRedes .lightbox img {
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    	  margin-right:10px;
    	  min-width:40px;
}

    .LinkRedes .lightbox img:hover{
        transform: scale(1.05);
        box-shadow: 0 8px 50px rgba(0,0,0,0.3);
}

    .LinkRedes img {
        border-radius: 70px;
}

    .finaltodo{
      display: block;
      box-shadow: 0 0 8px 1px grey inset;
      background: #00aae7;
      padding: 20px;
}
    .finaltodo p {
        text-align: center;
        color: white;
        font-size: 10px;
  }
}
